<template>
  <div>
    <h5 class="pe-5">
      {{ task.title }}
    </h5>
    <p>
      {{ task.description }}
    </p>
  </div>
</template>

<script>
  export default {
    props: {
      task: {
        type: Object,
        default: {
          id: '',
          title: '',
          description: '',
          src: '',
          list: '',
          type: ''
        }
      },
    },
    data() {
      return {}
    },
    methods: {},
  }
</script>