<template>
  <div class="task-item border rounded-3 bg-white shadow p-2">
    <TaskItemTypeText v-if="task.type === 'text'" :task="task" />
    <TaskItemTypePicture v-if="task.type === 'picture'" :task="task" />
    <button class="task-item__change btn" @click="toggleModal('toggleChangeModal', task.id, task)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
      </svg>
    </button>
  </div>
</template>

<script>
import TaskItemTypeText from './TaskItemTypeText/TaskItemTypeText.vue';
import TaskItemTypePicture from './TaskItemTypePicture/TaskItemTypePicture.vue';

export default {
  components: {
    TaskItemTypeText,
    TaskItemTypePicture
  },
  props: {
    task: {
      type: Object,
      default: {
        id: '',
        title: '',
        description: '',
        src: '',
        list: '',
        type: ''
      }
    },
    toggleModal: {
      type: Function,
    }
  }
}
</script>

<style lang="scss" scoped>
  .task-item {
    position: relative;

    &__change {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
</style>