<template>
  <div class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Изменить описание задачи</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent>
            <div v-if="changedTask.type === 'text'">
              <div class="mb-3">
                <label class="col-form-label">Название:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  @input="changedTask.title = $event.target.value"
                  :value="changedTask.title"
                />
              </div>
              <div class="mb-3">
                <label class="col-form-label">Описание:</label>
                <textarea 
                  class="form-control" 
                  @input="changedTask.description = $event.target.value"
                  :value="changedTask.description"
                  >
                </textarea>
              </div>
            </div>
            <div v-if="changedTask.type === 'picture'">
              <div class="mb-3">
                <label class="col-form-label">Ссылка на изображение:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  @input="changedTask.src = $event.target.value"
                  :value="changedTask.src"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click="deleteTask">Удалить</button>
          <button type="button" class="btn btn-success" @click="changeTask">Изменить</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    changedTaskId: Number,
    changedTaskData: Object,
  },
  data() {
    return {
      changedTask: {
        id: this.changedTaskId,
        title: this.changedTaskData.title,
        description: this.changedTaskData.description,
        src: this.changedTaskData.src,
        type: this.changedTaskData.type,
        list: this.changedTaskData.list
      },
    }
  },
  methods: {
    changeTask() {
      this.$emit('change', this.changedTask);

      this.$emit('toggleModal');
    },
    deleteTask() {
      this.$emit('delete', this.changedTaskData);
    },
    closeModal() {
      this.$emit('toggleModal');
    },
  },
}
</script>