<template>
  <div class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Создать новую колонку</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent>
            <div class="mb-3">
              <label class="col-form-label">Название:</label>
              <input type="text" class="form-control" @input="newColumn.title = $event.target.value">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click="createColumn">Создать</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newColumn: {
        title: '',
        list: ''
      },
    }
  },
  methods: {
    closeModal() {
      this.$emit('toggleModal')
    },
    createColumn() {
      this.newColumn = {
        title: this.newColumn.title,
        list: this.newColumn.title.replaceAll(' ', '').toLowerCase()
      }
      this.$emit('createColumn', this.newColumn);
      this.$emit('toggleModal')
    }
  },
}
</script>

<style lang="scss" scoped>

</style>