<template>
  <div class="modal fade show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Новая задача</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal"></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent>
            <div class="mb-3">
              <label class="col-form-label">Тип:</label>
              <select class="form-select" aria-label="type" @input="newTask.type = $event.target.value">
                <option selected value="text">Текст</option>
                <option value="picture">Картинка</option>
              </select>
            </div>
            <div v-if="newTask.type === 'text'">
              <div class="mb-3">
                <label class="col-form-label">Название:</label>
                <input type="text" class="form-control" @input="newTask.title = $event.target.value">
              </div>
              <div class="mb-3">
                <label class="col-form-label">Описание:</label>
                <textarea class="form-control" @input="newTask.description = $event.target.value"></textarea>
              </div>
            </div>
            <div v-else>
              <div class="mb-3">
                <label class="col-form-label">Ссылка на картинку:</label>
                <input type="text" class="form-control" @input="newTask.src = $event.target.value">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click="createTask">Создать</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newTask: {
        title: '',
        description: '',
        src: '',
        type: 'text',
      },
    }
  },
  methods: {
    closeModal() {
      this.$emit('toggleModal')
    },
    createTask() {
      this.$emit('create', this.newTask);
      this.newTask = {
        title: '',
        description: '',
        type: 'text'
      }
      this.$emit('toggleModal')
    }
  },
}
</script>