<template>
  <div>
    <img class="img-fluid" :src="task.src">
  </div>
</template>

<script>
  export default {
    props: {
      task: {
        type: Object,
        default: {
          id: '',
          title: '',
          description: '',
          src: '',
          list: '',
          type: ''
        }
      },
    },
  }
</script>