<template>
  <div class="container-fluid task-list">
    <div class="row g-2">
      <div class="col-10">
        <draggable
          class="row g-0 gap-2 pt-3"
          :list="columns"
          group="taskColumns"
          itemKey="id"
        >
          <template #item="{ element }">
            <div class="col rounded-3 align-self-start task-list__wrapper p-2">
              <h5 class="py-2 d-flex">
                {{ element.title }}
                <button class="btn d-inline-flex align-items-cetner justify-content-center" @click="deleteColumn(element.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                </button>
                <button 
                  v-if="element.list === 'todo'" 
                  class="btn d-inline-flex align-items-cetner justify-content-center ms-auto" 
                  @click="toggleModal('toggleCreateModal')"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                </button>
              </h5>
              <draggable
                class="g-0 d-flex flex-column gap-2"
                :list="element.items"
                group="taskList"
                itemKey="element.items"
                handle=".drag-item"
                @end="onEnd($event, element)"
                :column="element.list"
                :columnId="element.id"
              >
                <template #item="{ element }">
                  <TaskItem class="drag-item" :task="element" :toggleModal="toggleModal"/>
                </template>
              </draggable>
            </div>
          </template>
        </draggable>
      </div>
      <div class="col-2 pt-3">
        <div class="rounded-3 align-self-start task-list__wrapper task-list__create-column">
          <button class="btn btn-success w-100" @click="toggleModal('toggleCreateColumnModal')">+ Добавить колонку</button>
        </div>
      </div>
    </div>
  </div>
  <ModalCreate v-if="toggleCreateModal" 
    @toggleModal="toggleModal('toggleCreateModal')" 
    @create="createTask"
  />
  <ModalCreateColumn v-if="toggleCreateColumnModal" 
    @toggleModal="toggleModal('toggleCreateColumnModal')" 
    @createColumn="createColumn"
  />
  <ModalChange v-if="toggleChangeModal" 
    @toggleModal="toggleModal('toggleChangeModal', changedTaskId, changedTaskData)" 
    @change="changeTask" 
    @delete="deleteTask" 
    :changedTaskId="changedTaskId" 
    :changedTaskData="changedTaskData"
  />
</template>

<script>
  import TaskItem from '@/components/TaskItem/TaskItem.vue';
  import ModalCreate from '@/components/Modal/ModalCreate.vue';
  import ModalChange from '@/components/Modal/ModalChange.vue';
  import ModalCreateColumn from '@/components/Modal/ModalCreateColumn.vue';
  import draggable from 'vuedraggable';

  export default {
    components: {
      TaskItem,
      ModalCreate,
      ModalChange,
      ModalCreateColumn,
      draggable
    },
    data() {
      let columns = [
        {
          id: 0,
          title: "To Do",
          list: "todo",
          items: [
            { id: 4, title: "Новая вёрстка", description: "Новая вёрстка виджета", type: "text", list: "todo" },
            { id: 5, title: "Доработка", description: "Доработка вёрстки виджета", type: "text", list: "todo" }
          ],
        },
        {
          id: 1,
          title: "Doing",
          list: "doing",
          items: [
            { id: 6, title: "Доработка", description: "Доработка вёрстки виджета", type: "text", list: "doing" },
          ],
        },
        {
          id: 2,
          title: "Review",
          list: "review",
          items: [
            { id: 7, title: "A/B тест", description: "Новая вёрстка A/B тест", type: "text", list: "review" },
          ],
        },
        {
          id: 3,
          title: "Done",
          list: "done",
          items: [
            { id: 8, title: "Мастер шаблон", description: "Новая вёрстка Мастер шаблона", type: "text", list: "done" }
          ],
        },
      ];
      let toggleCreateModal = false;
      let toggleChangeModal = false;
      let toggleCreateColumnModal = false;
      let changedTaskId = 0;
      let changedTaskData = {
        id: 0,
        title: '',
        description: '',
        src:'',
        type: '',
        list: ''
      };
      const generatedItemId = () => {
        const items = this.columns.map(column => {
          return column.items
        })
        
        return items.flat().length + 1
      };

      return {
        toggleCreateModal,
        toggleChangeModal,
        toggleCreateColumnModal,
        changedTaskId,
        changedTaskData,
        columns,
        generatedItemId,
      }
    },
    methods: {
      toggleModal(name, id, task) {
        this[name] = !this[name];

        if (name === 'toggleCreateModal' || name === 'toggleChangeModal') {
          this.changedTaskId = id;
          this.changedTaskData = task;
        }
      },
      createColumn({title, list}) {
        const generatedId = this.generatedItemId();

        this.columns = [...this.columns, {
          id: generatedId,
          title: title, 
          list: list,
          items: []
        }]
      },
      deleteColumn(id) {
        return this.columns = this.columns.filter(column => {
          return column.id !== id
        })
      },
      createTask({title, description, src, type}) {
        const generatedId = this.generatedItemId();

        const findedItem = this.columns.find(item => {
          return item.items.filter(el => el.list === 'todo')
        })

        if (type === 'picture') {
          return this.columns[findedItem.id].items = [...this.columns[findedItem.id].items, {
            id: generatedId,
            src: src,
            type: type,
            list: "todo"
          }]
        }

        return this.columns[findedItem.id].items = [...this.columns[findedItem.id].items, {
          id: generatedId,
          title: title, 
          description: description, 
          type: 'text',
          list: "todo"
        }]
      },
      deleteTask(data) {
        const { id } = this.columns.find(column => {
          return column.list === data.list
        })

        this.columns[id].items = this.columns[id].items.filter(item => {
          return item.id !== data.id
        })

        this.toggleChangeModal = !this.toggleChangeModal
      },
      changeTask(data) {
        try {
          const { id } = this.columns.find(column => {
            return column.list === data.list
          })

          const taskIndex = this.columns[id].items.findIndex(item => {
            return item.id === data.id
          })

          if (data.type === 'text') {
            this.columns[id].items[taskIndex] = {
              id: data.id,
              title: data.title,
              description: data.description,
              type: data.type,
              list: data.list
            }
          } else {
            this.columns[id].items[taskIndex] = {
              id: data.id,
              src: data.src,
              title: '',
              description: '',
              type: data.type,
              list: data.list
            }
          }
        } catch (error) {}
      },
      onEnd(event) {
        try {
          const toColumn = event.to.__vueParentComponent.attrs.column
          const columnId = event.to.__vueParentComponent.attrs.columnId
          const itemIndex = this.columns[columnId].items.findIndex(item => item.id === event.item.__draggable_context.element.id);

          this.columns[columnId].items[itemIndex].list = toColumn
        } catch (error) {}
      },
    }
  }
</script>

<style scoped>
.task-list__wrapper {
  background-color: var(--vt-c-white-mute);
}
</style>
